<div class="o-follow" data-o-component="o-follow" data-o-version="{{o-follow.module-version}}">
	<span>Christian Oliver</span>
	<button data-o-follow-state="true" data-o-follow-id="Q0ItMDAwMDcxOA==-QXV0aG9ycw==">Stop Following</button>
</div>
