<div class="o-author-alerts" data-o-component="o-author-alerts" data-o-version="{{o-author-alerts.module-version}}">
	<ul class="o-author-alerts__authors">
		<li data-o-author-alerts-authorID="Q0ItMDAwMDY0Mg==-QXV0aG9ycw==" >
			<span>Roman Olearchyk</span>
			<button data-o-author-alerts-following="false">Start Following</button>
		</li>	
		<li data-o-author-alerts-authorID="Q0ItMDAwMDY1MA==-QXV0aG9ycw==" >
			<span>Christian Oliver</span>
			<button data-o-author-alerts-following="true">Stop Following</button>
		</li>
	</ul>
</div>