
<div class="o-follow" data-o-component="o-follow" data-o-version="0.1.0">
	<div class="o-follow__list">
{{#author}}
	<div class="o-follow__entity">
		<button  class="o-follow__button" data-o-follow-id="{{id}}" data-o-follow-name="{{name}}">Start</button> 
	</div>
{{/author}}
	</div>
</div>
