
<div class="o-follow" data-o-component="o-follow" data-o-version="0.1.0">
	<div class="o-follow__list">
{{#authors.0}}
	<div class="o-follow__entity">
		<button  class="o-follow__button" data-o-follow-id="{{id}}" data-o-follow-name="{{name}}">Start alerts for {{name}}</button> 
	</div>
{{/authors.0}}
	</div>
</div>
