<div class="o-follow o-follow--theme" data-o-component="o-follow" data-o-version="0.1.0" data-o-follow-article-id="{{articleId}}">
	<a href="" class="o-follow__widget">Author Alerts<i class="icon-arrow-down"></i></a>
	<div class="o-follow__popover" will-change>
	<h3 class="o-follow__header">HEADER</h3>
	<ul class="o-follow__list">

	</ul>
	</div>
</div>