{{#authors}}
<div class="o-follow" data-o-component="o-follow" data-o-version="0.1.0" data-o-follow-id="{{id}}" data-o-follow-name="{{name}}">
	<span>{{name}}</span>
	<button data-o-follow-state="true" data-o-follow-id="{{id}}" data-o-follow-name="{{name}}">Start Following</button>
</div>
{{/authors}}