@mixin oFollowBase($classname: o-follow) {
	.#{$classname} {
		display: none;
	}
	[data-o-follow--js].#{$classname} {
		display: inline-block;
	}

	@include oFontsInclude(BentonSans, normal);
	@include oFtIconsFontFace();
	@include oFtTypographyIncludeFont(heading);

	.#{$classname}__list {
			margin: 0;
			padding: 0;
	}
	.#{$classname}__entity {
		list-style: none;
		overflow: auto;
		padding: 5px;
	}
	
	.#{$classname}__widget {
		display: none;
	}

	.#{$classname}__header {
		@extend %o-ft-typography-heading2-text;
	}

	.#{$classname}__name {
		float: left;
		margin-right: 12px;
		line-height: 22px;
	}

	.#{$classname}__button {
		float: right;
	}

	[data-o-follow-widget] {

		.#{$classname}__widget {
			background-color: oColorsGetPaletteColor(white);
			color: oColorsGetColorFor(link, text);
			display: inline-block;
			box-sizing: border-box;
			border-radius: 10px;
			padding: 5px 10px;
			font-family: oFontsGetFontFamilyWithFallbacks(BentonSans);
			text-decoration: none;
			font-size: inherit;
			line-height: 1em;
			i {
		    @extend %o-ft-icons-icon--arrow-down;
		    @include oFtIconsBaseIconStyles();
				margin-left: 8px;
				margin-top: -3px;
			}
		}

		.#{$classname}__popover {
			visibility: hidden;
      opacity: 0;
      transition-duration: 300ms, 0;
      transition-property: opacity, visibility;
      transition-delay: 0, 300ms;
			box-shadow: 1px 1px 1px #ccc;
			font-family: oFontsGetFontFamilyWithFallbacks(BentonSans);
			@include pointer-bordered(top, oColorsGetColorFor(modal, background), oColorsGetColorFor(modal, border), 16px, 45px);
			background-color: oColorsGetColorFor(modal, background);
			color: oColorsGetColorFor(modal, text);
			border: 1px solid;
			border-color:  oColorsGetColorFor(modal, border);
			position: absolute;
			top: auto;
			left: auto;
			padding: 10px 20px;
			margin-top: 16px;
			z-index: 2;
		}

		
	} 

	[data-o-follow-widget].open  .#{$classname}__popover {
		transition-duration: 0, 300ms;
    transition-property: visibility, opacity;
    transition-delay: 0;
    visibility: visible;
    opacity: 1;

 	}
	@include oFtButtonsButton(o-follow__button);

}
