@mixin oFollowBase($classname: o-follow) {
	.#{$classname} {
		display: none;
	}
	[data-o-follow--js].#{$classname} {
		display: block;
	}
	.#{$classname}__entity {
		list-style: none;
	}

	@include oFtButtonsButton(o-follow__button);

}
