@mixin oFollowBase($classname: o-follow) {
	.#{$classname} {
		display: none;
		line-height: 1em;
	}
	[data-o-follow--js].#{$classname} {
		display: inline-block;
	}

	@include oFontsInclude(BentonSans, normal);
	@include oFtIconsFontFace();
	@include oFtTypographyIncludeFont(heading);

	.#{$classname}__list {
			margin: 0;
			padding: 0;
			font-family: oFontsGetFontFamilyWithFallbacks(BentonSans);
	}

	.#{$classname}__entity {
		list-style: none;
		overflow: auto;
		padding: 5px;
	}

	.#{$classname}__widget {
		display: none;
	}

	.#{$classname}__header {
		@extend %o-ft-typography-heading2-text;
	}

	.#{$classname}__name {
		float: left;
		margin-right: 20px;
		font-size: 14px;
		line-height: 22px;
		font-weight: normal;
	}

	.#{$classname}__button {
		float: right;
	}
	@include oFtButtonsButton(o-follow__button);


}
