.o-author-alerts {
	.o-author-alerts__message {
		display: none;
		font-size: 14px;
	}
}

.o-author-alerts[data-o-author-alerts-message] {
	.o-author-alerts__message {
		display: block;
		padding: 10px 5px;
	}
}

.o-author-alerts[data-o-author-alerts-message='error'] {
	.o-author-alerts__message {
		color: oColorsGetColorFor(o-author-alerts-error, text);
	}
}


.o-author-alerts {
	.o-author-alerts__message-bottom {
		display: none;
		font-size: 14px;
	}
}

.o-author-alerts[data-o-author-alerts-message-bottom] {
	.o-author-alerts__message-bottom {
		display: block;
		padding: 10px 5px;
	}
}

.o-author-alerts[data-o-author-alerts-message-bottom='error'] {
	.o-author-alerts__message-bottom {
		color: oColorsGetColorFor(o-author-alerts-error, text);
	}
}
