.o-author-alerts__widget {
	display: none;
}

.o-author-alerts--theme {
	.o-author-alerts__widget {
		display: inline-block;
		box-sizing: border-box;
		border: 0;
		border-radius: 10px;
		padding: 5px 10px;
		margin: 0;
		background-color: #ffffff;
		color: oColorsGetColorFor(link, text);
		font-family: $o-author-alerts-button-font;
		text-decoration: none;
		font-size: 13px;
		line-height: 13px;

		i {
			@include oFtIconsBaseIconStyles();
			@extend %o-ft-icons-icon--arrow-down;
			margin-left: 8px;
			line-height: 13px;
			font-size: 13px;
			vertical-align: inherit;
		}
		&:hover {
			cursor: pointer;
			color: oColorsGetColorFor(link-hover, text);
		}
		&:focus {
			outline: none;
			box-shadow: inset 0 0 3px 1px oColorsGetColorFor(button-standout-standard, background);;
		}
	}

	//NOT IMPLEMENTED YET
	&[data-o-author-alerts-message='error'] {
		.o-author-alerts__widget {
			background-color: oColorsGetColorFor(status-error, background);
		}
	}
	&[data-o-author-alerts-message='success'] {
		.o-author-alerts__widget {
			background-color: oColorsGetColorFor(status-ok, background);
		}
	}

	@include oColorsSetUseCase(o-author-alerts-overlay, background, white);
	@include oColorsSetUseCase(o-author-alerts-overlay, text, black);
	@include oColorsSetUseCase(o-author-alerts-overlay, border, pink-tint5);


	.o-author-alerts__popover {
		visibility: hidden;
		opacity: 0;
		transition-duration: 300ms, 0;
		transition-property: opacity, visibility;
		transition-delay: 0, 300ms;
		@include pointer-bordered(top, oColorsGetColorFor(o-author-alerts-overlay, background), oColorsGetColorFor(o-author-alerts-overlay, border), 12px, 60px);
		background-color: oColorsGetColorFor(o-author-alerts-overlay, background);
		color: oColorsGetColorFor(o-author-alerts-overlay, text);
		border: 2px solid oColorsGetColorFor(o-author-alerts-overlay, border);
		border-radius: 5px;
		max-width: 100%;
		box-sizing: border-box;
		position: absolute;
		top: auto;
		left: auto;
		padding: 10px 20px;
		margin-top: 8px;

		@media (max-width: 400px) {
			padding: 5px 10px;
		}

	}


	&[aria-expanded] {
		.o-author-alerts__popover {
			transition-duration: 0, 300ms;
			transition-property: visibility, opacity;
			transition-delay: 0;
			visibility: visible;
			opacity: 1;
			z-index: 2; //appear above ads in RHR blah
		}
	}
}
