
.o-follow--theme {
	.o-follow__widget {
		background-color: #fff;
		color: oColorsGetColorFor(link, text);
		display: inline-block;
		box-sizing: border-box;
		border-radius: 10px;
		padding: 5px 10px;
		font-family: oFontsGetFontFamilyWithFallbacks(BentonSans);
		text-decoration: none;
		font-size: 13px;
		line-height: 13px;
		i {
			@extend %o-ft-icons-icon--arrow-down;
			@include oFtIconsBaseIconStyles();
			margin-left: 8px;
			line-height: 13px;
			font-size: 13px;
			vertical-align: inherit;
		}
		&:hover {
			cursor: pointer;
			color: oColorsGetColorFor(link-hover, text);
		}
	}

	//NOT IMPLEMENTED YET
	&[data-o-follow-message='error'] {
		.o-follow__widget {
			background-color: oColorsGetColorFor(status-error, background);
		}	
	}
	&[data-o-follow-message='success'] {
		.o-follow__widget {
			background-color: oColorsGetColorFor(status-ok, background);
		}	
	}

	.o-follow__popover {
		visibility: hidden;
		opacity: 0;
		transition-duration: 300ms, 0;
		transition-property: opacity, visibility;
		transition-delay: 0, 300ms;
		box-shadow: 1px 1px 1px #ccc;
		@include pointer-bordered(top, oColorsGetColorFor(modal, background), oColorsGetColorFor(modal, border), 16px, 60px);
		background-color: oColorsGetColorFor(modal, background);
		color: oColorsGetColorFor(modal, text);
		border: 1px solid;
		border-color: oColorsGetColorFor(modal, border);
		max-width: 100%;
		box-sizing: border-box;
		position: absolute;
		top: auto;
		left: auto;
		padding: 10px 20px;
		margin-top: 16px;
		z-index: 2;
		@media (screen and max-width: 400px) {
			padding: 5px 10px;
		}
	}


	&[aria-expanded] .o-follow__popover {
		transition-duration: 0, 300ms;
		transition-property: visibility, opacity;
		transition-delay: 0;
		visibility: visible;
		opacity: 1;

	}

}
