
.o-author-alerts--theme {
	.o-author-alerts__widget {
		background-color: #fff;
		color: oColorsGetColorFor(link, text);
		display: inline-block;
		box-sizing: border-box;
		border-radius: 10px;
		padding: 5px 10px;
		font-family: oFontsGetFontFamilyWithFallbacks(BentonSans);
		text-decoration: none;
		font-size: 13px;
		line-height: 13px;
		i {
			@extend %o-ft-icons-icon--arrow-down;
			@include oFtIconsBaseIconStyles();
			margin-left: 8px;
			line-height: 13px;
			font-size: 13px;
			vertical-align: inherit;
		}
		&:hover {
			cursor: pointer;
			color: oColorsGetColorFor(link-hover, text);
		}
	}

	//NOT IMPLEMENTED YET
	&[data-o-author-alerts-message='error'] {
		.o-author-alerts__widget {
			background-color: oColorsGetColorFor(status-error, background);
		}	
	}
	&[data-o-author-alerts-message='success'] {
		.o-author-alerts__widget {
			background-color: oColorsGetColorFor(status-ok, background);
		}	
	}

	.o-author-alerts__popover {
		visibility: hidden;
		opacity: 0;
		transition-duration: 300ms, 0;
		transition-property: opacity, visibility;
		transition-delay: 0, 300ms;
		@include pointer-bordered(top, oColorsGetColorFor(modal, background), oColorsGetColorFor(modal, border), 8px, 60px);
		background-color: oColorsGetColorFor(modal, background);
		color: oColorsGetColorFor(modal, text);
		border: 1px solid;
		border-color: oColorsGetColorFor(modal, border);
		border-radius: 8px;
		max-width: 100%;
		box-sizing: border-box;
		position: absolute;
		top: auto;
		left: auto;
		padding: 5px 15px;
		margin-top: 8px;
		z-index: 1;
		@media (screen and max-width: 400px) {
			padding: 5px 10px;
		}
	}


	&[aria-expanded] .o-author-alerts__popover {
		transition-duration: 0, 300ms;
		transition-property: visibility, opacity;
		transition-delay: 0;
		visibility: visible;
		opacity: 1;

	}

}
